<% layout('/layouts/boilerPlate') -%>

    <body>
        <div class="row"> <!-- row wise arrangenment -->
            <div class="col-8 offset-2"> <!-- //*maximum 8 columns on page if there are more *// -->

                <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data">
                    <h1>Edit details</h1>
                    <div>
                        <label for="title" class="form-label">Enter title : </label>
                        <input type="text" value="<%= listing.title%>" name="listing[title]" class="form-control">
                    </div>
                    <br>
                    <div class="mb-3">
                        Original Listing image:
                        <br>
                        <img src="<%= listing.image.url %>" alt="Old image" style="max-width: 200px; height: 200px;">
                    </div>
                    <div>
                        <label for="image" class="form-label">Upload new image : </label>
                        <input type="file" value="<%= listing.image.url%>" name="image" class="form-control">
                    </div>
                    <br>
                    <div>
                        <label for="description" class="form-label">Description : </label>
                        <input type="text" value="<%=listing.description%>" name="listing[description]"
                            class="form-control">
                    </div>
                    <br>
                    <div>
                        <label for="price" class="form-label">Enter price : </label>
                        <input type="number" value="<%=listing.price %>" name="listing[price]" class="form-control">
                    </div>
                    <br>
                    <div class="row"> <!-- location and country on same line. -->
                        <div class="col-md-4">
                            <label for="location" class="form-label">Enter location : </label>
                            <input type="text" value="<%= listing.location %>" name="listing[location]"
                                class="form-control">
                        </div>
                        <div class="col-md-8">
                            <label for="country" class="form-label">Enter country : </label>
                            <input type="text" value="<%= listing.country %>" name="listing[country]"
                                class="form-control">
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-outline-dark mb-3"> edit </button>
                </form>
            </div>
        </div>
    </body>